<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="dev.kaique.social_share_kit">
    <queries>
        <package android:name="com.facebook.katana" />
        <package android:name="com.facebook.lite" />
        <package android:name="com.facebook.mlite" />
        <package android:name="com.facebook.orca" />
        <package android:name="com.instagram.android" />
        <package android:name="com.instagram.lite" />
        <package android:name="com.twitter.android" />
        <package android:name="com.twitter.android.lite" />
        <package android:name="com.tiktok.tv" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.zhiliaoapp.musically.go" />
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
        <package android:name="org.telegram.messenger" />
        <package android:name="org.thunderdog.challegram" />
    </queries>
</manifest>
